.wrapper{
    display: grid;
    height: 100rem;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
    background-color: #0000FF;
    overflow: auto;
}



body {
  	background-color: #435165;
  	margin: 0;
  	}

.tl {
    background-color: #0000FF;
    overflow: auto;
    }

.tr {
    background-color: #FF0000;
    overflow: auto;
    }

.bl {
    background-color: #FF0000;
    overflow: auto;
    }

.br {
    background-color: #0000FF;
    overflow: auto;
    }

