<!DOCTYPE html>
<html>
<head>
    <title>Login Form</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <h2>Login Page</h2><br>
    <div class="login">
    <!--form id="login" method="get" action="login.php"-->
        Username <input type="text" name="username" value=''><br>
        <br><br>
        </label>
        Password <input type="password" name="password" value=''><br/>
        <br><br>
        <button id="myButton" class="float-left submit-button" >Log in</button>
        <script type="text/javascript">
            document.getElementById("myButton").onclick = function () {
                location.href = "http://127.0.0.1:5000/ui";
            };
        </script>
        <br><br>
        <button id="RButton" class="float-left submit-button" >Sign up</button>
        <script type="text/javascript">
            document.getElementById("RButton").onclick = function () {
                location.href = "http://127.0.0.1:5000/register";
            };
        </script>
    </form>
</div>
</body>
</html>