<!DOCTYPE html>
<html>
<head>
    <title>Login Form</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
    <body>
    	<div class="box">
  			<h1>Log In</h1>
  			<form action="/check" method="post">
    			<input type="text" name="username" id="uname" placeholder="Username" required/>
    			<br><br>
    			<input type="password" name="password" id="pass" placeholder="Password" required/>
    			<br><br>
    			<input type="submit" class="button" id =PButton value="Log In"/>
                <script type="text/javascript">
            document.getElementById("PButton").onclick = function () {
                location.href = "http://127.0.0.1:5000/check";
            };
                </script>
				<br><br>


				<input type="submit" class="button" id =OButton value="Sign-up"/>
                <script type="text/javascript">
            document.getElementById("OButton").onclick = function () {
                location.href = "http://127.0.0.1:5000/register";
            };
                </script>
  			</form>
		</div>
    </body>
</html>


