<!DOCTYPE html>
<html>
<head>
    <title>Registration Form</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
 <h2>Registration Page</h2><br>
    <div class="login">
    <form action="/register" method="post">
        <label><b>User Name</b></label>
            <input type="text" name="username" id="username" placeholder="Username" required/>
        <br><br>
            <label><b>Password</b></label>
            <input type="password" name="password" id="password" placeholder="Password" required/>
        <br><br>
            <button id="OButton" class="float-left submit-button" >Register Account</button>
            <script type="text/javascript">
            document.getElementById("OButton").onclick = function () {
                location.href = "http://127.0.0.1:5000";
            };
            </script>
    </form>
</div>
</body>
</html>